<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_Dark_Death0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{0,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Death1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{0,63},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Death10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{0,630},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Death11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{0,693},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Death12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{0,756},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Death2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{0,126},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Death3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{0,189},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Death4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{0,252},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Death5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{0,315},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Death6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{0,378},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Death7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{0,441},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Death8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{0,504},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Death9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{0,567},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_Dark_Death.png</string>
            <key>size</key>
            <string>{23,819}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ab0b6b08421bab05e8af9016a96f552:ff7acbca9f1e65a36884a1e60fbf575d:aa1dec664e16f0f4810b287662fcedb9$</string>
            <key>textureFileName</key>
            <string>player_Dark_Death.png</string>
        </dict>
    </dict>
</plist>
