<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_Dark_Transform0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{0,0},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{26,0},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{0,335},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{26,335},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{0,402},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{26,402},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{0,469},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{26,469},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{0,536},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{26,536},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{0,603},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{26,603},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{0,67},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{0,670},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{26,670},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{0,737},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{26,737},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{0,804},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{26,804},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{0,871},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{26,871},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{0,938},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{26,938},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{26,67},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{0,1005},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{26,1005},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{0,1072},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{26,1072},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{0,1139},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{26,1139},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{0,1206},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{26,1206},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{0,134},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{26,134},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{0,201},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{26,201},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{0,268},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Transform9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,67}</string>
                <key>spriteSourceSize</key>
                <string>{26,67}</string>
                <key>textureRect</key>
                <string>{{26,268},{26,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_Dark_Transform.png</string>
            <key>size</key>
            <string>{52,1273}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1aeb0cc0e9375c7469a2bb24539ab3ef:c080d34a6395bab93cea784e0377edac:d02ac588eea1a9ba34b0d76d077f582f$</string>
            <key>textureFileName</key>
            <string>player_Dark_Transform.png</string>
        </dict>
    </dict>
</plist>
