<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_Dark_Jumping0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,27}</string>
                <key>spriteSourceSize</key>
                <string>{21,27}</string>
                <key>textureRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Jumping1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,27}</string>
                <key>spriteSourceSize</key>
                <string>{21,27}</string>
                <key>textureRect</key>
                <string>{{21,0},{21,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Jumping2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,27}</string>
                <key>spriteSourceSize</key>
                <string>{21,27}</string>
                <key>textureRect</key>
                <string>{{42,0},{21,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Jumping3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,27}</string>
                <key>spriteSourceSize</key>
                <string>{21,27}</string>
                <key>textureRect</key>
                <string>{{63,0},{21,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_Dark_Jumping.png</string>
            <key>size</key>
            <string>{84,27}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:798d94e74e2889ccd7b477df757601ee:26b11e89b51e9fc660a38cf64c0893fc:c4b97254e5a91d61c2e82858a2edfc53$</string>
            <key>textureFileName</key>
            <string>player_Dark_Jumping.png</string>
        </dict>
    </dict>
</plist>
