<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_Dark_AttackSecond0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,39}</string>
                <key>spriteSourceSize</key>
                <string>{65,39}</string>
                <key>textureRect</key>
                <string>{{0,0},{65,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_AttackSecond1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,39}</string>
                <key>spriteSourceSize</key>
                <string>{65,39}</string>
                <key>textureRect</key>
                <string>{{65,0},{65,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_AttackSecond2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,39}</string>
                <key>spriteSourceSize</key>
                <string>{65,39}</string>
                <key>textureRect</key>
                <string>{{130,0},{65,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_AttackSecond3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,39}</string>
                <key>spriteSourceSize</key>
                <string>{65,39}</string>
                <key>textureRect</key>
                <string>{{195,0},{65,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_AttackSecond4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,39}</string>
                <key>spriteSourceSize</key>
                <string>{65,39}</string>
                <key>textureRect</key>
                <string>{{260,0},{65,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_AttackSecond5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,39}</string>
                <key>spriteSourceSize</key>
                <string>{65,39}</string>
                <key>textureRect</key>
                <string>{{325,0},{65,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_AttackSecond6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,39}</string>
                <key>spriteSourceSize</key>
                <string>{65,39}</string>
                <key>textureRect</key>
                <string>{{390,0},{65,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_AttackSecond7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,39}</string>
                <key>spriteSourceSize</key>
                <string>{65,39}</string>
                <key>textureRect</key>
                <string>{{455,0},{65,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_AttackSecond8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,39}</string>
                <key>spriteSourceSize</key>
                <string>{65,39}</string>
                <key>textureRect</key>
                <string>{{520,0},{65,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_AttackSecond9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,39}</string>
                <key>spriteSourceSize</key>
                <string>{65,39}</string>
                <key>textureRect</key>
                <string>{{585,0},{65,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_Dark_AttackSecond.png</string>
            <key>size</key>
            <string>{650,39}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44e4e476ae229ff43cb71b6115fe8bb1:f463a3d284c3e63e09071159fd985fcf:ae39711fee270d85ecafecb7ce5238c0$</string>
            <key>textureFileName</key>
            <string>player_Dark_AttackSecond.png</string>
        </dict>
    </dict>
</plist>
