<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_Dark_AttackThird0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,39}</string>
                <key>spriteSourceSize</key>
                <string>{65,39}</string>
                <key>textureRect</key>
                <string>{{0,0},{65,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_AttackThird1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,39}</string>
                <key>spriteSourceSize</key>
                <string>{65,39}</string>
                <key>textureRect</key>
                <string>{{65,0},{65,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_AttackThird10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,39}</string>
                <key>spriteSourceSize</key>
                <string>{65,39}</string>
                <key>textureRect</key>
                <string>{{650,0},{65,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_AttackThird2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,39}</string>
                <key>spriteSourceSize</key>
                <string>{65,39}</string>
                <key>textureRect</key>
                <string>{{130,0},{65,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_AttackThird3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,39}</string>
                <key>spriteSourceSize</key>
                <string>{65,39}</string>
                <key>textureRect</key>
                <string>{{195,0},{65,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_AttackThird4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,39}</string>
                <key>spriteSourceSize</key>
                <string>{65,39}</string>
                <key>textureRect</key>
                <string>{{260,0},{65,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_AttackThird5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,39}</string>
                <key>spriteSourceSize</key>
                <string>{65,39}</string>
                <key>textureRect</key>
                <string>{{325,0},{65,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_AttackThird6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,39}</string>
                <key>spriteSourceSize</key>
                <string>{65,39}</string>
                <key>textureRect</key>
                <string>{{390,0},{65,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_AttackThird7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,39}</string>
                <key>spriteSourceSize</key>
                <string>{65,39}</string>
                <key>textureRect</key>
                <string>{{455,0},{65,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_AttackThird8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,39}</string>
                <key>spriteSourceSize</key>
                <string>{65,39}</string>
                <key>textureRect</key>
                <string>{{520,0},{65,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_AttackThird9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,39}</string>
                <key>spriteSourceSize</key>
                <string>{65,39}</string>
                <key>textureRect</key>
                <string>{{585,0},{65,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_Dark_AttackThird.png</string>
            <key>size</key>
            <string>{715,39}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6193471acd94f68fbeeb5debb0a43eb8:f73424784dd83231aec6e494a1994ff5:89691d9c2a27e44f7331f2d67d8b939b$</string>
            <key>textureFileName</key>
            <string>player_Dark_AttackThird.png</string>
        </dict>
    </dict>
</plist>
