<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_Dark_Dash0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,21}</string>
                <key>spriteSourceSize</key>
                <string>{30,21}</string>
                <key>textureRect</key>
                <string>{{0,0},{30,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Dash1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,21}</string>
                <key>spriteSourceSize</key>
                <string>{30,21}</string>
                <key>textureRect</key>
                <string>{{30,0},{30,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Dash2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,21}</string>
                <key>spriteSourceSize</key>
                <string>{30,21}</string>
                <key>textureRect</key>
                <string>{{60,0},{30,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Dark_Dash3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,21}</string>
                <key>spriteSourceSize</key>
                <string>{30,21}</string>
                <key>textureRect</key>
                <string>{{90,0},{30,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_Dark_Dash.png</string>
            <key>size</key>
            <string>{120,21}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cbce99d16879d63cf73bc001d10822b:ebe288a010d80a3dea67cef3800517df:28077da2702cf7c2f40be29575985edf$</string>
            <key>textureFileName</key>
            <string>player_Dark_Dash.png</string>
        </dict>
    </dict>
</plist>
