<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fall0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,37}</string>
                <key>spriteSourceSize</key>
                <string>{18,37}</string>
                <key>textureRect</key>
                <string>{{0,0},{18,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fall1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,37}</string>
                <key>spriteSourceSize</key>
                <string>{18,37}</string>
                <key>textureRect</key>
                <string>{{0,37},{18,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fall2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,37}</string>
                <key>spriteSourceSize</key>
                <string>{18,37}</string>
                <key>textureRect</key>
                <string>{{0,74},{18,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fall3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,37}</string>
                <key>spriteSourceSize</key>
                <string>{18,37}</string>
                <key>textureRect</key>
                <string>{{0,111},{18,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_Dark_Fall.png</string>
            <key>size</key>
            <string>{18,148}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1e39640fd20c668e48b0791c13f2ca3:ca8509a6ad154ee95d322ff92cb529d0:26d5c59b1b41d307dd046a6f80c67842$</string>
            <key>textureFileName</key>
            <string>player_Dark_Fall.png</string>
        </dict>
    </dict>
</plist>
