<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>look_intro0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,19}</string>
                <key>spriteSourceSize</key>
                <string>{23,19}</string>
                <key>textureRect</key>
                <string>{{0,0},{23,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>look_intro1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,19}</string>
                <key>spriteSourceSize</key>
                <string>{23,19}</string>
                <key>textureRect</key>
                <string>{{0,19},{23,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>look_intro2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,19}</string>
                <key>spriteSourceSize</key>
                <string>{23,19}</string>
                <key>textureRect</key>
                <string>{{0,38},{23,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>look_intro3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,19}</string>
                <key>spriteSourceSize</key>
                <string>{23,19}</string>
                <key>textureRect</key>
                <string>{{0,57},{23,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>look_intro4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,19}</string>
                <key>spriteSourceSize</key>
                <string>{23,19}</string>
                <key>textureRect</key>
                <string>{{0,76},{23,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>look_intro5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,19}</string>
                <key>spriteSourceSize</key>
                <string>{23,19}</string>
                <key>textureRect</key>
                <string>{{0,95},{23,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_Dark_Look_Intro.png</string>
            <key>size</key>
            <string>{23,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a9f854dd8e0c4b0e133012fd2de6919:370169219b36ca87d0ea89e74c362d16:4441cdf9e9d63a0b2e5c235943df052f$</string>
            <key>textureFileName</key>
            <string>player_Dark_Look_Intro.png</string>
        </dict>
    </dict>
</plist>
