<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wall_slide0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,31}</string>
                <key>spriteSourceSize</key>
                <string>{18,31}</string>
                <key>textureRect</key>
                <string>{{0,0},{18,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_slide1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,31}</string>
                <key>spriteSourceSize</key>
                <string>{18,31}</string>
                <key>textureRect</key>
                <string>{{18,0},{18,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_slide2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,31}</string>
                <key>spriteSourceSize</key>
                <string>{18,31}</string>
                <key>textureRect</key>
                <string>{{36,0},{18,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_slide3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,31}</string>
                <key>spriteSourceSize</key>
                <string>{18,31}</string>
                <key>textureRect</key>
                <string>{{54,0},{18,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_Dark_Wall_Slide.png</string>
            <key>size</key>
            <string>{72,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a195330e56e7bda164056babf8d621f:3b331ac1689df59581d4c81d878d159c:79cb1d5ec0b7f58a979581dbfae7962f$</string>
            <key>textureFileName</key>
            <string>player_Dark_Wall_Slide.png</string>
        </dict>
    </dict>
</plist>
