<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>roll0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,19}</string>
                <key>spriteSourceSize</key>
                <string>{24,19}</string>
                <key>textureRect</key>
                <string>{{0,0},{24,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,19}</string>
                <key>spriteSourceSize</key>
                <string>{24,19}</string>
                <key>textureRect</key>
                <string>{{24,0},{24,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,19}</string>
                <key>spriteSourceSize</key>
                <string>{24,19}</string>
                <key>textureRect</key>
                <string>{{240,0},{24,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,19}</string>
                <key>spriteSourceSize</key>
                <string>{24,19}</string>
                <key>textureRect</key>
                <string>{{264,0},{24,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,19}</string>
                <key>spriteSourceSize</key>
                <string>{24,19}</string>
                <key>textureRect</key>
                <string>{{288,0},{24,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,19}</string>
                <key>spriteSourceSize</key>
                <string>{24,19}</string>
                <key>textureRect</key>
                <string>{{312,0},{24,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,19}</string>
                <key>spriteSourceSize</key>
                <string>{24,19}</string>
                <key>textureRect</key>
                <string>{{336,0},{24,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,19}</string>
                <key>spriteSourceSize</key>
                <string>{24,19}</string>
                <key>textureRect</key>
                <string>{{360,0},{24,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,19}</string>
                <key>spriteSourceSize</key>
                <string>{24,19}</string>
                <key>textureRect</key>
                <string>{{384,0},{24,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,19}</string>
                <key>spriteSourceSize</key>
                <string>{24,19}</string>
                <key>textureRect</key>
                <string>{{408,0},{24,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,19}</string>
                <key>spriteSourceSize</key>
                <string>{24,19}</string>
                <key>textureRect</key>
                <string>{{432,0},{24,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,19}</string>
                <key>spriteSourceSize</key>
                <string>{24,19}</string>
                <key>textureRect</key>
                <string>{{456,0},{24,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,19}</string>
                <key>spriteSourceSize</key>
                <string>{24,19}</string>
                <key>textureRect</key>
                <string>{{48,0},{24,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,19}</string>
                <key>spriteSourceSize</key>
                <string>{24,19}</string>
                <key>textureRect</key>
                <string>{{72,0},{24,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,19}</string>
                <key>spriteSourceSize</key>
                <string>{24,19}</string>
                <key>textureRect</key>
                <string>{{96,0},{24,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,19}</string>
                <key>spriteSourceSize</key>
                <string>{24,19}</string>
                <key>textureRect</key>
                <string>{{120,0},{24,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,19}</string>
                <key>spriteSourceSize</key>
                <string>{24,19}</string>
                <key>textureRect</key>
                <string>{{144,0},{24,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,19}</string>
                <key>spriteSourceSize</key>
                <string>{24,19}</string>
                <key>textureRect</key>
                <string>{{168,0},{24,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,19}</string>
                <key>spriteSourceSize</key>
                <string>{24,19}</string>
                <key>textureRect</key>
                <string>{{192,0},{24,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,19}</string>
                <key>spriteSourceSize</key>
                <string>{24,19}</string>
                <key>textureRect</key>
                <string>{{216,0},{24,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Light_Roll.png</string>
            <key>size</key>
            <string>{480,19}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4a09983434cc7513d0aeaea187763e2:082106badc0f80bb42754bcc082f5be8:f14d103609727187c6218b45a2e01857$</string>
            <key>textureFileName</key>
            <string>Light_Roll.png</string>
        </dict>
    </dict>
</plist>
