<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turn0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{17,0},{17,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{51,18},{17,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{68,18},{17,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{85,18},{17,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{102,18},{17,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{0,36},{17,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{17,36},{17,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{34,36},{17,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{51,36},{17,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{68,36},{17,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{85,36},{17,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{34,0},{17,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{51,0},{17,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{68,0},{17,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{85,0},{17,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{102,0},{17,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{0,18},{17,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{17,18},{17,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{34,18},{17,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Light_Turn.png</string>
            <key>size</key>
            <string>{119,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e194014981198b05bf1a23caf2d540eb:5e597a6362deff503a59d01218671d85:7fc724a5aec30429914a054637d46929$</string>
            <key>textureFileName</key>
            <string>Light_Turn.png</string>
        </dict>
    </dict>
</plist>
