<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_blink0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,18}</string>
                <key>spriteSourceSize</key>
                <string>{15,18}</string>
                <key>textureRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_blink1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,18}</string>
                <key>spriteSourceSize</key>
                <string>{15,18}</string>
                <key>textureRect</key>
                <string>{{0,18},{15,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_blink2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,18}</string>
                <key>spriteSourceSize</key>
                <string>{15,18}</string>
                <key>textureRect</key>
                <string>{{0,36},{15,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Light_idle_Blink.png</string>
            <key>size</key>
            <string>{15,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07ae4d677417ba3e38459f67f669e8fd:02e54f03a97e87679dda96dbff23a3cf:d0c9d52b9c5ab6415c8e38492c947884$</string>
            <key>textureFileName</key>
            <string>Light_idle_Blink.png</string>
        </dict>
    </dict>
</plist>
