<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hellMonster_idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,67}</string>
                <key>spriteSourceSize</key>
                <string>{55,67}</string>
                <key>textureRect</key>
                <string>{{0,0},{55,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hellMonster_idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,67}</string>
                <key>spriteSourceSize</key>
                <string>{55,67}</string>
                <key>textureRect</key>
                <string>{{0,67},{55,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hellMonster_idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,67}</string>
                <key>spriteSourceSize</key>
                <string>{55,67}</string>
                <key>textureRect</key>
                <string>{{0,134},{55,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hellMonster_idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,67}</string>
                <key>spriteSourceSize</key>
                <string>{55,67}</string>
                <key>textureRect</key>
                <string>{{0,201},{55,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hellMonster_idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,67}</string>
                <key>spriteSourceSize</key>
                <string>{55,67}</string>
                <key>textureRect</key>
                <string>{{0,268},{55,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hellMonster_idle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,67}</string>
                <key>spriteSourceSize</key>
                <string>{55,67}</string>
                <key>textureRect</key>
                <string>{{0,335},{55,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hellMonster.png</string>
            <key>size</key>
            <string>{55,402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0a67931fa300515574e501211a93143:73b86f2f34f12caa951d5d09ca218b83:e1ff70dbd37e5de7df01585daebf172d$</string>
            <key>textureFileName</key>
            <string>hellMonster.png</string>
        </dict>
    </dict>
</plist>
