<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>satyr_run_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,46}</string>
                <key>spriteSourceSize</key>
                <string>{68,46}</string>
                <key>textureRect</key>
                <string>{{0,0},{68,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>satyr_run_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,46}</string>
                <key>spriteSourceSize</key>
                <string>{68,46}</string>
                <key>textureRect</key>
                <string>{{68,0},{68,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>satyr_run_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,46}</string>
                <key>spriteSourceSize</key>
                <string>{68,46}</string>
                <key>textureRect</key>
                <string>{{136,0},{68,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>satyr_run_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,46}</string>
                <key>spriteSourceSize</key>
                <string>{68,46}</string>
                <key>textureRect</key>
                <string>{{204,0},{68,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>satyr_run_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,46}</string>
                <key>spriteSourceSize</key>
                <string>{68,46}</string>
                <key>textureRect</key>
                <string>{{272,0},{68,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>satyr_run_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,46}</string>
                <key>spriteSourceSize</key>
                <string>{68,46}</string>
                <key>textureRect</key>
                <string>{{340,0},{68,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>satyr_run.png</string>
            <key>size</key>
            <string>{408,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f1e85966010b812f00cb4f0bac1c253:6a11e269b2f2776d5511d6de17d6e169:3fe7b7fa1f3ef867af1df234406da1c0$</string>
            <key>textureFileName</key>
            <string>satyr_run.png</string>
        </dict>
    </dict>
</plist>
