<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_Light_AttackThird0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,27}</string>
                <key>spriteSourceSize</key>
                <string>{52,27}</string>
                <key>textureRect</key>
                <string>{{0,0},{52,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Light_AttackThird1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,27}</string>
                <key>spriteSourceSize</key>
                <string>{52,27}</string>
                <key>textureRect</key>
                <string>{{52,0},{52,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Light_AttackThird2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,27}</string>
                <key>spriteSourceSize</key>
                <string>{52,27}</string>
                <key>textureRect</key>
                <string>{{104,0},{52,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Light_AttackThird3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,27}</string>
                <key>spriteSourceSize</key>
                <string>{52,27}</string>
                <key>textureRect</key>
                <string>{{156,0},{52,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Light_AttackThird4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,27}</string>
                <key>spriteSourceSize</key>
                <string>{52,27}</string>
                <key>textureRect</key>
                <string>{{208,0},{52,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Light_AttackThird5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,27}</string>
                <key>spriteSourceSize</key>
                <string>{52,27}</string>
                <key>textureRect</key>
                <string>{{260,0},{52,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Light_AttackThird6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,27}</string>
                <key>spriteSourceSize</key>
                <string>{52,27}</string>
                <key>textureRect</key>
                <string>{{312,0},{52,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Light_AttackThird7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,27}</string>
                <key>spriteSourceSize</key>
                <string>{52,27}</string>
                <key>textureRect</key>
                <string>{{364,0},{52,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Light_AttackThird8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,27}</string>
                <key>spriteSourceSize</key>
                <string>{52,27}</string>
                <key>textureRect</key>
                <string>{{416,0},{52,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Light_AttackThird9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,27}</string>
                <key>spriteSourceSize</key>
                <string>{52,27}</string>
                <key>textureRect</key>
                <string>{{468,0},{52,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_Light_AttackThird10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,27}</string>
                <key>spriteSourceSize</key>
                <string>{52,27}</string>
                <key>textureRect</key>
                <string>{{520,0},{52,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_Light_AttackThird.png</string>
            <key>size</key>
            <string>{572,27}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3653d2cfdcd358937e83ff10edc7b0a:669ab6924393f9d9fe3b6f75bacd38e1:5a63caebc80528b2d2a844046f905313$</string>
            <key>textureFileName</key>
            <string>player_Light_AttackThird.png</string>
        </dict>
    </dict>
</plist>
