<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigCultist_uptoFall0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,59}</string>
                <key>spriteSourceSize</key>
                <string>{108,59}</string>
                <key>textureRect</key>
                <string>{{0,0},{108,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigCultist_uptoFall1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,59}</string>
                <key>spriteSourceSize</key>
                <string>{108,59}</string>
                <key>textureRect</key>
                <string>{{108,0},{108,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bigCultist_uptoFall.png</string>
            <key>size</key>
            <string>{216,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3903c6a3a8ad0d1e7b9d99723f99dd41:6af604fc2a752878aeac9f8912d8b36d:950f6f1e2f98a080e1509ba609245cbf$</string>
            <key>textureFileName</key>
            <string>bigCultist_uptoFall.png</string>
        </dict>
    </dict>
</plist>
