<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigCultist_hit0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,59}</string>
                <key>spriteSourceSize</key>
                <string>{108,59}</string>
                <key>textureRect</key>
                <string>{{0,0},{108,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigCultist_hit1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,59}</string>
                <key>spriteSourceSize</key>
                <string>{108,59}</string>
                <key>textureRect</key>
                <string>{{108,0},{108,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigCultist_hit2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,59}</string>
                <key>spriteSourceSize</key>
                <string>{108,59}</string>
                <key>textureRect</key>
                <string>{{216,0},{108,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bigCultist_hit.png</string>
            <key>size</key>
            <string>{324,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bc193a2bf44c3f1567cdb97878a4cb9:39894c0ee4bb1fa33ed7dc306ffeaf1e:74c72e5351542a0253bcb3068e91d667$</string>
            <key>textureFileName</key>
            <string>bigCultist_hit.png</string>
        </dict>
    </dict>
</plist>
