<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigCultist_death0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,59}</string>
                <key>spriteSourceSize</key>
                <string>{108,59}</string>
                <key>textureRect</key>
                <string>{{0,0},{108,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigCultist_death9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,59}</string>
                <key>spriteSourceSize</key>
                <string>{108,59}</string>
                <key>textureRect</key>
                <string>{{972,0},{108,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigCultist_death10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,59}</string>
                <key>spriteSourceSize</key>
                <string>{108,59}</string>
                <key>textureRect</key>
                <string>{{1080,0},{108,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigCultist_death11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,59}</string>
                <key>spriteSourceSize</key>
                <string>{108,59}</string>
                <key>textureRect</key>
                <string>{{1188,0},{108,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigCultist_death1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,59}</string>
                <key>spriteSourceSize</key>
                <string>{108,59}</string>
                <key>textureRect</key>
                <string>{{108,0},{108,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigCultist_death2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,59}</string>
                <key>spriteSourceSize</key>
                <string>{108,59}</string>
                <key>textureRect</key>
                <string>{{216,0},{108,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigCultist_death3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,59}</string>
                <key>spriteSourceSize</key>
                <string>{108,59}</string>
                <key>textureRect</key>
                <string>{{324,0},{108,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigCultist_death4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,59}</string>
                <key>spriteSourceSize</key>
                <string>{108,59}</string>
                <key>textureRect</key>
                <string>{{432,0},{108,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigCultist_death5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,59}</string>
                <key>spriteSourceSize</key>
                <string>{108,59}</string>
                <key>textureRect</key>
                <string>{{540,0},{108,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigCultist_death6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,59}</string>
                <key>spriteSourceSize</key>
                <string>{108,59}</string>
                <key>textureRect</key>
                <string>{{648,0},{108,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigCultist_death7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,59}</string>
                <key>spriteSourceSize</key>
                <string>{108,59}</string>
                <key>textureRect</key>
                <string>{{756,0},{108,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigCultist_death8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,59}</string>
                <key>spriteSourceSize</key>
                <string>{108,59}</string>
                <key>textureRect</key>
                <string>{{864,0},{108,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bigCultist_death.png</string>
            <key>size</key>
            <string>{1296,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69c38c86912ef98144d5c4258c1cef94:18cf3468e99638d2258b61143bed1832:6c5eaa5fd949257ab2422ac8d1eb3e30$</string>
            <key>textureFileName</key>
            <string>bigCultist_death.png</string>
        </dict>
    </dict>
</plist>
