<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FX_lighttodark0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{0,0},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{59,0},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{0,440},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{59,440},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{0,528},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{59,528},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{0,616},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{59,616},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{0,704},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{59,704},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{0,792},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{59,792},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{0,88},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{0,880},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{59,880},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{0,968},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{59,968},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{0,1056},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{59,1056},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{0,1144},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{59,1144},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{0,1232},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{59,1232},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{59,88},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{0,1320},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{59,1320},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{0,1408},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{59,1408},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{0,1496},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{59,1496},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{0,176},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{59,176},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{0,264},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{59,264},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{0,352},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FX_lighttodark9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{59,88}</string>
                <key>textureRect</key>
                <string>{{59,352},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FX_LighttoDark.png</string>
            <key>size</key>
            <string>{118,1584}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff7ac127df76a0360d1e7e2095229886:c45a0d52123fe5aa9fc497ca34684291:ef677b63010ffa26b7adcd5400dcf641$</string>
            <key>textureFileName</key>
            <string>FX_LighttoDark.png</string>
        </dict>
    </dict>
</plist>
