<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wall_grab0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,25}</string>
                <key>spriteSourceSize</key>
                <string>{17,25}</string>
                <key>textureRect</key>
                <string>{{0,0},{17,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_grab1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,25}</string>
                <key>spriteSourceSize</key>
                <string>{17,25}</string>
                <key>textureRect</key>
                <string>{{17,0},{17,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_grab10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,25}</string>
                <key>spriteSourceSize</key>
                <string>{17,25}</string>
                <key>textureRect</key>
                <string>{{170,0},{17,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_grab11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,25}</string>
                <key>spriteSourceSize</key>
                <string>{17,25}</string>
                <key>textureRect</key>
                <string>{{187,0},{17,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_grab12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,25}</string>
                <key>spriteSourceSize</key>
                <string>{17,25}</string>
                <key>textureRect</key>
                <string>{{204,0},{17,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_grab2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,25}</string>
                <key>spriteSourceSize</key>
                <string>{17,25}</string>
                <key>textureRect</key>
                <string>{{34,0},{17,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_grab3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,25}</string>
                <key>spriteSourceSize</key>
                <string>{17,25}</string>
                <key>textureRect</key>
                <string>{{51,0},{17,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_grab4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,25}</string>
                <key>spriteSourceSize</key>
                <string>{17,25}</string>
                <key>textureRect</key>
                <string>{{68,0},{17,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_grab5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,25}</string>
                <key>spriteSourceSize</key>
                <string>{17,25}</string>
                <key>textureRect</key>
                <string>{{85,0},{17,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_grab6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,25}</string>
                <key>spriteSourceSize</key>
                <string>{17,25}</string>
                <key>textureRect</key>
                <string>{{102,0},{17,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_grab7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,25}</string>
                <key>spriteSourceSize</key>
                <string>{17,25}</string>
                <key>textureRect</key>
                <string>{{119,0},{17,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_grab8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,25}</string>
                <key>spriteSourceSize</key>
                <string>{17,25}</string>
                <key>textureRect</key>
                <string>{{136,0},{17,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_grab9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,25}</string>
                <key>spriteSourceSize</key>
                <string>{17,25}</string>
                <key>textureRect</key>
                <string>{{153,0},{17,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Light_Wall_Grab.png</string>
            <key>size</key>
            <string>{221,25}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c46fd206b1ca19d04c78edbb0f55bc93:fc78e3ad416f4b0e15c699e0abaee6c1:d703f8d319be85f2d12e448193ab9bbe$</string>
            <key>textureFileName</key>
            <string>Light_Wall_Grab.png</string>
        </dict>
    </dict>
</plist>
