<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>assassin_fall0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,76}</string>
                <key>spriteSourceSize</key>
                <string>{106,76}</string>
                <key>textureRect</key>
                <string>{{0,0},{106,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>assassin_fall1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,76}</string>
                <key>spriteSourceSize</key>
                <string>{106,76}</string>
                <key>textureRect</key>
                <string>{{106,0},{106,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>assassin_fall2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,76}</string>
                <key>spriteSourceSize</key>
                <string>{106,76}</string>
                <key>textureRect</key>
                <string>{{212,0},{106,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>assassin_fall.png</string>
            <key>size</key>
            <string>{318,76}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a830ea59b5cb71f0e4649a199f5298d:00223a7bf03790c57a8eaf1742618951:1019844efcac5c9a306b32841df54365$</string>
            <key>textureFileName</key>
            <string>assassin_fall.png</string>
        </dict>
    </dict>
</plist>
