<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,76}</string>
                <key>spriteSourceSize</key>
                <string>{106,76}</string>
                <key>textureRect</key>
                <string>{{0,0},{106,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,76}</string>
                <key>spriteSourceSize</key>
                <string>{106,76}</string>
                <key>textureRect</key>
                <string>{{106,0},{106,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,76}</string>
                <key>spriteSourceSize</key>
                <string>{106,76}</string>
                <key>textureRect</key>
                <string>{{212,0},{106,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,76}</string>
                <key>spriteSourceSize</key>
                <string>{106,76}</string>
                <key>textureRect</key>
                <string>{{318,0},{106,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,76}</string>
                <key>spriteSourceSize</key>
                <string>{106,76}</string>
                <key>textureRect</key>
                <string>{{424,0},{106,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,76}</string>
                <key>spriteSourceSize</key>
                <string>{106,76}</string>
                <key>textureRect</key>
                <string>{{530,0},{106,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,76}</string>
                <key>spriteSourceSize</key>
                <string>{106,76}</string>
                <key>textureRect</key>
                <string>{{636,0},{106,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,76}</string>
                <key>spriteSourceSize</key>
                <string>{106,76}</string>
                <key>textureRect</key>
                <string>{{742,0},{106,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{848,76}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f92c50ec29fa9263966482ded7287495:2f898c37bc611bb94df503708aeae198:917f08b16c21adbead6303a7c10c595b$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>
