<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_noEffect0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,76}</string>
                <key>spriteSourceSize</key>
                <string>{106,76}</string>
                <key>textureRect</key>
                <string>{{0,0},{106,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_noEffect1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,76}</string>
                <key>spriteSourceSize</key>
                <string>{106,76}</string>
                <key>textureRect</key>
                <string>{{106,0},{106,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_noEffect2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,76}</string>
                <key>spriteSourceSize</key>
                <string>{106,76}</string>
                <key>textureRect</key>
                <string>{{212,0},{106,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>assassin_hit_noEffect.png</string>
            <key>size</key>
            <string>{318,76}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c33b68f3690aeed2eac9b3c421f1b0b:3e019eff584f26328081fb2cb15436ce:ba4ca7313fb55891f1eaf1efec50ef38$</string>
            <key>textureFileName</key>
            <string>assassin_hit_noEffect.png</string>
        </dict>
    </dict>
</plist>
