<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_closeEye0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{0,0},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_closeEye1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{45,0},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_closeEye2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{90,0},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_closeEye3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{135,0},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_closeEye4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{180,0},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_closeEye5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{225,0},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>idle_closeEye.png</string>
            <key>size</key>
            <string>{270,42}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4984dd50db679da07f40197d1b0b2b74:47ecc96a3ebb1c273bcac4ca0f21252d:db233f1cdbca5e7da4de4bff6fa84c13$</string>
            <key>textureFileName</key>
            <string>twistedCultist_idle_closeEye.png</string>
        </dict>
    </dict>
</plist>
