<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>twistedCultist_hit_noEffect0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{0,0},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>twistedCultist_hit_noEffect1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{45,0},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>twistedCultist_hit_noEffect2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{90,0},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>twistedCultist_hit_noEffect.png</string>
            <key>size</key>
            <string>{135,42}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84b8b9b492288ddf20309c0b1031061e:da2908523225d5348e049dc9f9823442:ba4ca7313fb55891f1eaf1efec50ef38$</string>
            <key>textureFileName</key>
            <string>twistedCultist_hit_noEffect.png</string>
        </dict>
    </dict>
</plist>
