<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Transform0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{0,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{23,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{230,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{253,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{276,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{299,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{322,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{345,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{368,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{391,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{414,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{437,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{46,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{460,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{483,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{506,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{529,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{552,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{575,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{598,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{621,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{644,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{667,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{69,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{690,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{713,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{736,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{759,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{782,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{805,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{828,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{851,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{92,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{115,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{138,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{161,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{184,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Transform9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,63}</string>
                <key>spriteSourceSize</key>
                <string>{23,63}</string>
                <key>textureRect</key>
                <string>{{207,0},{23,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_Transform.png</string>
            <key>size</key>
            <string>{874,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f987ed0275fac9cde799037abe092c76:cb135798123016080a4f7d1e02b78740:7181e98cb8c2e7d90551c74ea79c6a52$</string>
            <key>textureFileName</key>
            <string>player_Transform.png</string>
        </dict>
    </dict>
</plist>
