<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Wall_Slide0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,26}</string>
                <key>spriteSourceSize</key>
                <string>{10,26}</string>
                <key>textureRect</key>
                <string>{{0,0},{10,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wall_Slide1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,26}</string>
                <key>spriteSourceSize</key>
                <string>{10,26}</string>
                <key>textureRect</key>
                <string>{{0,26},{10,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wall_Slide2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,26}</string>
                <key>spriteSourceSize</key>
                <string>{10,26}</string>
                <key>textureRect</key>
                <string>{{0,52},{10,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wall_Slide3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,26}</string>
                <key>spriteSourceSize</key>
                <string>{10,26}</string>
                <key>textureRect</key>
                <string>{{0,78},{10,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_Wall_Slide.png</string>
            <key>size</key>
            <string>{10,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c7e18ae1fd65dfc412bd97919985e6c:af1270a3a0a311283059cb6870c840a5:abbe5b6d52d477426a9eab2c3fbb68df$</string>
            <key>textureFileName</key>
            <string>player_Wall_Slide.png</string>
        </dict>
    </dict>
</plist>
