<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cultist_jump0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{0,0},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cultist_jump1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{45,0},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cultist_jump2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{90,0},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cultist_jump.png</string>
            <key>size</key>
            <string>{135,42}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35753a25fcf7e21ee61b66e699b2cf17:afec94fff9dbe301f0ee2ef2c832e36b:10b7a338e00cc41410588856e890a28e$</string>
            <key>textureFileName</key>
            <string>cultist_jump.png</string>
        </dict>
    </dict>
</plist>
